__pycache__/*
gpu_numba_solver/__pycache__/*
gpu_numba_solver/__pycache__
envs/__pycache__
envs/__pycache__/*
envs/common/__pycache__
envs/common/__pycache__/*
rl_algos/__pycache__
rl_algos/__pycache__/*
rl_algos/common/__pycache__
rl_algos/common__pycache__/*
rl_algos/benchmarks/__pycache__
rl_algos/benchmarks/__pycache__/*
rl_algos/benchmarks/videos
rl_algos/benchmarks/videos/*
rl_algos/benchmarks/runs
rl_algos/benchmarks/runs/*
rl_algos/benchmarks/wandb
rl_algos/benchmarks/wandb/*
simple_models/__pycache__
simple_models/__pycache__/*
wandb
wandb/*
gpu_numba_solver/system_definitions/__pycache__
gpu_numba_solver/system_definitions/__pycache__/*
paramteter_study/__pycache__
paramteter_study/__pycache__/*
paramteter_study/data_repository/*
simulations/__pycache__
simulations/__pycache__/*
simulations/single_bubble_position_control/__pycache__
simulations/single_bubble_position_control/__pycache__/*
simulations/single_bubble_position_control/runs
simulations/single_bubble_position_control/runs/*
simulations/single_bubble_position_control/wandb
simulations/single_bubble_position_control/wandb/*
simulations/single_bubble_position_control/models
simulations/single_bubble_position_control/models/*
simulations/dual_bubble_position_control/__pycache__
simulations/dual_bubble_position_control/__pycache__/*
simulations/dual_bubble_position_control/runs
simulations/dual_bubble_position_control/runs/*
simulations/dual_bubble_position_control/wandb
simulations/dual_bubble_position_control/wandb/*
simulations/dual_bubble_position_control/models
simulations/dual_bubble_position_control/models/*

